<head>
    <a href="single">Single File Upload</a> | <a href="multiple"> Multiple File Upload</a>
</head>
<hr>
<body bgcolor="grey">
    <h1>Multiple File Upload</h1>
<form method="post" enctype="multipart/form-data">
   Select Multiple File: <input type="file" name="file2" multiple> <br><br>
    <input type="submit">
</form>    
</body>
