<head>
    <a href="single">Single File Upload</a> | <a href="multiple"> Multiple File Upload</a>
</head>
<hr>
<body bgcolor="grey">
    <h1>Single File Upload</h1>
<form method="post" enctype="multipart/form-data">
   Select File: <input type="file" name="file1"> <br><br>
    <input type="submit">
</form>    
</body>
