<html>
    <head>
        <title>Form</title>
        <a href="reg">Signup</a>
        <a href="displaystud">Display</a>
        <h3>Student Registration</h3>
    </head>
    <body>
        <form method="post" action="/reg-process">
        Name:<input type="text" name="nm"><br><br>
        Mobile:<input type="text" name="mno"><br><br>
        Age:<input type="number" name="age"><br><br>
        {{!-- Gender: Male<input type="radio" name="male">
        Female<input type="radio" name="female"><br><br> --}}
        Subject<input type="text" name="sub"><br><br>
        <input type="submit"/>
        </form>
    </body>
</html>