<html>
<body>
<form method="post" >
    <table>
        <tr>
            <td>StateName : </td>
            <td><input type="text" name="s_name"
                value="{{ state_array.s_name }}" required> </td>
        </tr>
        <tr>
                <td> <input type="submit">
                  {{!-- <input type="button" value="Display" 
                  onclick="window.location='display';">  --}}</td>
        </tr>
    </table>
</form>
</body>
</html>