<html>
    <head>
        <title>Form</title>
        <a href="empreg">Signup</a>
        <a href="displayemp">Display</a>
        <h3>Employee Registration</h3>
    
    </head>
    <body>
        <form method="post" action="/emp-process">
        Name:<input type="text" name="nm"><br><br>
        Mobile:<input type="text" name="mno"><br><br>
        Age:<input type="number" name="age"><br><br>
        Salary:<input type="number" name="sal"><br><br>
        <input type="submit"/>
        </form>
    </body>
</html>