<html>
    <head>
    <a href="add">Add Country</a> | <a href="display">Display Country</a> <br>
    <a href="../state/add">Add State</a> | <a href="../state/display">Display State</a><br>
    <a href="../city/add">Add City</a> | <a href="../city/display">Display City</a>
</head>
<body>
{{!-- {{include('header');}}  --}}
    <form method="post">
        <h1>Add Country Record</h1>
        <table>
            <tr>
                <td>Name</td>
                <td> <input type="text" placeholder="Enter country Name" name="c_name"></td>
            </tr>
            {{!-- <tr>
                <td>MobileNo</td>
                <td><input type="number" placeholder="Enter Mobile No" 
                    name="c_mobile"></td>
            </tr> --}}
            <tr>
                <td><input type="submit"></td>
                <td><input type="reset"></td>
            </tr>
        </table>
    </form>
</body>
</html>