<html>
    <body>
        <center><h1>Mohit Sharna</h1></center>
        <hr/>
        <a href="/">Home</a> | <a href="/about">About</a>
        <hr/>
        {{> news}}
        {{{body}}}
        <hr/>
        <p>Website is running completed</p>
    </body>
</html>