<h1>Login successfull</h1>
 
{{!-- {{#if(myemail) }}  --}}

    <h1> Hi, {{myemail}} </h1> <br><br>
       <h5> <a href="/change-password">Change Password</a> </h5>
       <h5> <a href="/logout">Logout</a> </h5>
       <h5><a href="/login">Login</a></h5>

 