<html>
  <head>
  </head>
  <body>
    <form method="post" action="add">
      <h3>Product Details</h3>
      <table>
        <tr>
          <td><label for="product name">Product Name</label>
            <input type="text" name="p_name" /><br /><br /></td>
        </tr>
        <tr>
          <td><label for="product details">Product Details</label>
            <input type="text" name="p_details" /><br /><br /></td>
        </tr>
        <tr>
          <td><label for="product pri">Product Price</label>
            <input type="number" name="p_price" /><br /><br /></td>
        </tr>
        <tr>
          <td><label for="product img">Product Image</label>
            <input type="file" name="file123" /><br /><br /></td>
        </tr>
        <tr>
          <td><label for="product qty">Product Qty</label>
            <input type="number" name="p_qty" /><br /><br /></td>
        </tr>
        <tr>
          <td><input type="submit" /> <input type="reset" /></td>
        </tr>
      </table>
    </form>
  </body>
</html>