<table>
    <tbody>
        <tr>
            <td>State ID</td>
            <td>:</td>
            <td> {{state_array._id}}   </td>
        </tr>
        <tr>
            <td>State Name</td>
            <td>:</td>
            <td> {{ state_array.s_name }}</td>
        </tr>
        <tr>
            <td>Country Name</td>
            <td>:</td>
            <td> {{_country.c_name}}</td>
        </tr>
    </tbody>
</table>