<table>
    <tbody>
        <tr>
            <td>City ID</td>
            <td>:</td>
            <td> {{city_array._id}}   </td>
        </tr>
        <tr>
            <td>City Name</td>
            <td>:</td>
            <td> {{ city_array.city_name }}</td>
        </tr>
        <tr>
            <td>State Name</td>
            <td>:</td>
            <td> {{_state.s_name}}</td>
        </tr>
    </tbody>
</table>