<html>
<body>
<form method="post" >
<table>
        <tr>
            <td>Name Country: </td>
            <td><input type="text" name="c_name" placeholder="Enter name"
                value=" {{country_array.c_name}} " required> </td>
        </tr>
        {{!-- <tr>
                <td>Mobile No</td>
                <td><input type="number" placeholder="Enter Mobile No" 
                value="{{category_array.c_mobile}}"
                    name="c_mobile" required></td>
            </tr> --}}
        <tr>
                <td> <input type="submit">
                  <input type="button" value="Display" 
                  onclick="window.location='display';"> </td>
        </tr>
    </table>
</form>
</body>
</html>