<table>
    <tbody>
        <tr>
            <td>Country ID</td>
            <td>:</td>
            <td> {{country_array._id}} </td>
        </tr>
        <tr>
            <td>Country Name</td>
            <td>:</td>
            <td> {{country_array.c_name}}</td>
        </tr>
        
    </tbody>
</table>